.vertical-right-aligned {
    transform: rotate(-90deg);
    transform-origin: 100% 100%;
    position: fixed;
    right: 0;
    top: 50%;
    z-index: 100;
}
/* 
.mynav {
    list-style-type: none;
    margin-left: 0px;
    padding-left: 0px;
    list-style: none;
    border-bottom: 1px none #000;
}

.mynav li {
    display: inline;
}

.mynav a {
    display: inline-block;
    border: 1px none #000;
    border-bottom: none;
    padding: 5px 15px 5px 15px;
    background-color: #EAEAEA;
    text-decoration: none;
    color: #333;
} */

#profileImage {
    cursor: pointer;
}

#profile-container img {
    width: 150px;
    height: 150px;
     
}

.custom_padding_top {
    margin-top: 70px;
}