{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>{% block head_title %}{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dot360s</title>
    <link rel="stylesheet" href="{% static 'user/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'user/css/custom_styles.css' %}">

    {% block extra_head %}
    {% endblock %}
  </head>
  <body>
    {% block body %}

    {% if messages %}
    <div>
      <strong>Messages:</strong>
      <ul>
	{% for message in messages %}
	<li>{{message}}</li>
	{% endfor %}
      </ul>
    </div>
    {% endif %}

    <div>
      <strong>Menu:</strong>
      <ul>
	{% if user.is_authenticated %}
	<li><a href="{% url 'account_email' %}">Change E-mail</a></li>
	<li><a href="{% url 'account_logout' %}">Sign Out</a></li>
	{% else %}
	<li><a href="{% url 'account_login' %}">Sign In</a></li>
	{% comment %} <li><a href="{% url 'driver_register', kwargs={'driver':'True'} %}">Sign Up driver</a></li> {% endcomment %}
	<li><a href="{% url 'passenger_register' %}">Sign Up passenger</a></li>
	{% endif %}
      </ul>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-6">
    {% block content %}
    {% endblock %}
        </div>
      </div>
    </div>
    {% endblock %}
    {% block extra_body %}
    {% endblock %}
  </body>
</html>
