{% load static %}
{% include 'tellme/js_inc.html' %}

<!DOCTYPE html>
<html>
  <head>
    <title>{% block head_title %}{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dot360s</title>
    <link rel="stylesheet" href="{% static 'user/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'user/css/custom_styles.css' %}">
    <link href="{% static 'tellme/feedback.min.css' %}" rel="stylesheet">

    {% block extra_head %}
    {% endblock %}
  </head>
  <body>
    {% block body %}

    {% for message in messages %}
      <div class="alert {{ message.tags }} alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        {{ message }}
      </div>
    {% endfor %}

    <div>
      <strong>Menu:</strong>
      <ul>
	{% if user.is_authenticated %}
	<li><a href="{% url 'account_email' %}">Change E-mail</a></li>
	<li><a href="{% url 'account_logout' %}">Sign Out</a></li>
  <li><a href="{% url 'home' %}">Home Page</a></li>
  {% if user.is_driver %}
    <li><a href="{% url 'driver_profile_detail' %}">Profile</a></li>
    <li><a href="{% url 'driver_orders' %}">List of Orders</a></li>
  {% endif %}
	{% if not user.is_driver %}
    <li><a href="{% url 'create_request' %}">New Ride</a></li>
    <li><a href="{% url 'fund_account' %}">Fund Account</a></li>
  {% endif %}
	{% else %}
	<li><a href="{% url 'account_login' %}">Sign In</a></li>
	<li><a href="{% url 'account_signup' %}">Sign Up</a></li>
	{% endif %}
      </ul>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-6">
    {% block content %}
    {% endblock %}
        </div>
      </div>
    </div>
    {% endblock %}

    <button type="button" id="feedback-btn" class="btn btn-info vertical-right-aligned">
        Feedback <span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span>
    </button>

  </body>
</html>
