{% extends "user/price_confirmation.html" %}

{% load crispy_forms_tags %}
{% load paystack %}

{% block payment %}

<script src="https://js.paystack.co/v1/inline.js"></script> 

<script>
  paymentForm.addEventListener('submit', payWithPaystack, false);
  function payWithPaystack() {
    var handler = PaystackPop.setup({
      key: {{PAYSTACK_PUBLIC_KEY}}, // Replace with your public key
      email: {{ride.request.passenger.email}},
      amount: {{ride.price}} * 100, // the amount value is multiplied by 100 to convert to the lowest currency unit
      currency: 'NGN', // Use GHS for Ghana Cedis or USD for US Dollars
      firstname: {{ride.request.passenger.firstname}},
      lastname: {{ride.request.passenger.lastname}},
      reference: "{{ride.request.driver.firstname}}"+random.randint(0, 9999999999), // Replace with a reference you generated
      callback: function(response){
        $.ajax({
          url: 'http://localhost:8080/verify-transaction/'+ response.reference,
          method: 'get',
          success: function (response) {
            // the transaction status is in response.data.status
          }
        });
      },
      onClose: function() {
        alert('Transaction was not completed, window closed.');
      },
    });
    handler.openIframe();
  }
<script>


{% endblock %}