{% extends "user/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<form method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div class="fieldWrapper">
        {{ form.email.errors }}
        <label for="{{ form.email.id_for_label }}">Email:</label>
        {{ form.email }}
    </div>
    <div class="fieldWrapper">
        {{ form.firstname.errors }}
        <label for="{{ form.firstname.id_for_label }}">Firstname:</label>
        {{ form.firstname }}
    </div>
    <div class="fieldWrapper">
        {{ form.lastname.errors }}
        <label for="{{ form.lastname.id_for_label }}">Lastname:</label>
        {{ form.lastname }}
    </div>
    <div class="fieldWrapper">
        {{ form.phone.errors }}
        <label for="{{ form.phone.id_for_label }}">Phone:</label>
        {{ form.phone }}
    </div>
    <div class="fieldWrapper">
        {{ form.password.errors }}
        <label for="{{ form.password.id_for_label }}">Password</label>
        {{ form.password }}
    </div>
    <div class="fieldWrapper">
        {{ form.password2.errors }}
        <label for="{{ form.password2.id_for_label }}">Confirm Password</label>
        {{ form.password2 }}
    </div>

    <button id="register" class="btn btn-outline-info" type="submit">Register</button>
</form>


<p class="text-muted underline p-4"><a href="{% url 'account_login' %}">Have an account? Log in</a></p>

{% endblock %}