{% extends "user/base.html" %}

{% block content %}

Your current order is:

<p>From: {{ order.request.from_address}}  To: {{ order.request.to_address}}</p>
<p>Passenger: {{ order.request.passenger.firstname }} {{ order.request.passenger.lastname }} Time: {{ order.request.time}}</p>
<p>Load: {{ order.request.load}} InterCity: {{ order.request.intercity}} No of passengers: {{ order.request.no_of_passengers }}</p>


<a class="btn btn-primary" href="{% url 'verify_completed' slug=order.slug %}">I have completed this ride</a>

{% endblock %}