{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dot360s</title>

    <script type="text/javascript" src="{% static 'user/jquery/jquery.js' %}"></script>
    <link rel="stylesheet" href="{% static 'user/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'user/css/custom_styles.css' %}">

    {% block extra_head %}
    {% endblock %}
  </head>
  <body>
  {% block body %}
    {% for message in messages %}
      <div class="alert {{ message.tags }} alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        {{ message }}
      </div>
    {% endfor %}

    <div>
      <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
        <div class="container">
          <a class="navbar-brand" href="{% url 'home' %}">Dot360s</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
            aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="oi oi-menu"></span> Menu
          </button>
          <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav ml-auto">
              {% if user.is_authenticated %}
          
                <li class="nav-item"><a href="#" class="nav-link">Change E-mail</a></li>
                <li class="nav-item"><a href="{% url 'user:logout' %}" class="nav-link">Sign Out</a></li>
                <li class="nav-item"><a href="{% url 'create_withdrawal' %}" class="nav-link">Wthdraw</a></li>
                <li class="nav-item"><a href="{% url 'history' %}" class="nav-link">History</a></li>
                <li class="nav-item"><a href="{% url 'create_request' %}" class="nav-link">New Ride</a></li>
                <li class="nav-item"><a href="{% url 'fund_account' %}" class="nav-link">Fund Account</a></li>
                <li class="nav-item"><a href="{% url 'form:home' %}" class="nav-link">Feedback</a></li>

                {% if user.is_driver %}
                  <li class="nav-item"><a href="{% url 'driver_profile_detail' pk=user.pk %}" class="nav-link">Profile</a></li>
                  <li class="nav-item"><a href="{% url 'order_list' %}" class="nav-link">List of Orders</a></li>
                  <li class="nav-item"><a href="{% url 'order_list' %}" class="nav-link">Home</a></li>
                {% else %}
                  <li class="nav-item"><a href="{% url 'request_list' %}" class="nav-link">Home</a></li>
                {% endif %}
                  
              {% else %}
                <li class="nav-item"><a href="{% url 'user:login' %}" class="nav-link">Sign In</a></li>
                <li class="nav-item"><a href="{% url 'user:register' %}" class="nav-link">Sign Up</a></li>
              {% endif %}
            </ul>
          </div>
        </div>
      </nav>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-10">
          {% if user.is_authenticated %}
            {% if user.is_driver %}
            <br>
            Your Status: 
              {% if user.driver.status == 'AV' %}
                <a class="btn btn-success" href="{% url 'change_status' %}?next={{ request.path }}">Avaliable</a>
              {% elif user.driver.status == 'BU' %}
                <a class="btn btn-warning" href="{% url 'change_status' %}?next={{ request.path }}">Busy</a>
              {% else %}
                <a class="btn btn-info" href="{% url 'change_status' %}?next={{ request.path }}">Not Avaliable</a>
              {% endif %} 
            {% endif %}
            <br><br>
            <h5>Account Balance: {{ user.account_balance }} NGN </h5>
            <br>
          {% endif %}
          {% block content %}
          {% endblock %}
        </div>
      </div>
    </div>

  {% endblock %}
  {% block extra_body %}
  {% endblock %}
  <script src="{% static 'js/bootstrap.min.js' %}"></script>

  </body>
</html>
