{% extends "main/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block extra_css %}
{{ form.media.css }}
{% endblock %}

{% block extra_js %}
{{ form.media.js }}
{% endblock %}

{% block content %}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

<script>
// This code activates flatpickr on fields with the 'datetimefield' class when the document has loaded
window.addEventListener("DOMContentLoaded", function () {
    flatpickr(".datetimefield", {
        enableTime: true,
        enableSeconds: false,
        dateFormat: "Y-m-d H:i",
        minDate: "today",
    });
});

</script>
<form method="post" action="{% url 'create_request' %}">
    {% csrf_token %}
    {{ form|crispy }}
    <input type="submit" value="request" id="request">
</form>

{% endblock %}