{% extends "main/base.html" %}
{% block content %}


<h1>{{ user }}, order a ride <a href="{% url 'create_request' %}">here</a></h1>


{% for request in requests %}
<div class="media">
    <div class="media-body">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 ml-3">
                
                    <h4>From: {{ request.from_address}}  To: {{ request.to_address}}</h4>
                    <p>Passenger: {{ request.passenger.firstname }} {{ request.passenger.lastname }} Time: {{ request.time }}</p>
                    <p>Load: {{ request.load }} InterCity: {{ request.intercity }} No of passengers: {{ request.no_of_passengers }}</p>
    
                    <p>status: {{ request.ride.status }}</p>
                    <p>Accepted: {{ request.order_of_request.accepted }}</p>
                    <p class="small">Posted on {{ request.order_of_request.time_posted|date:"F d, Y. h:i A" }}</p>
                    {% if request.order_of_request.accepted %}
                        <a class="btn btn-success" href="{% url 'order_detail' slug=request.order_of_request.slug %}">Details</a>
                    {% endif %}
                    {% if request.ride.status == "unconfirmed" or request.ride.status == "waiting" %}
                    <a class="btn btn-primary" href="{% url 'cancel_request' slug=request.order_of_request.slug %}">Cancel Request</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% if is_paginated %}
    {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-3" href="?page=1">First</a>
        <a class="btn btn-outline-info mb-3" href="?page={{ page_obj.previous_page_number }}">Previous</a>
    {% endif %}

    {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
            <a class="btn btn-info mb-3" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
            <a class="btn btn-outline-info mb-3" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-3" href="?page={{ page_obj.next_page_number }}">Next</a>
        <a class="btn btn-outline-info mb-3" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
    {% endif %}
{% endif %}


{% endblock %}